.btn-reg {
    border: 1px solid #044080;
    background: #57d5ff;
    color: #044080;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-reg:hover {
    background: #044080;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.status {
    cursor: pointer;
}

.input-negocio {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    width: 20rem;
    height: 3rem;
}

#btn-confirmar {
    border: 1px solid #044080;
    background: #57d5ff;
    color: #044080;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#btn-confirmar:hover {
    background: #044080;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.funcionarios-list {
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.75rem;
    background-color: #f8f9fa;
}

.funcionarios-list .form-check-input {
    width: 1.25em;
    height: 1.25em;
}

#tabela {
     background: #fff;
     border-radius: 10px;
     border: 1px solid lightgray;
     width: 100%;
 }

 #input_busca {
     border: 1px solid gray;
     border-radius: 5px;
     outline: none;
     width: 20rem;
 }