.nav-lateral {
    border-right: 1px solid #fff;
    background: cadetblue;
}

.nome {
    color: blue;
}

a, h3 {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: blue;
    transform: scale(1.1);
    transition: all 0.15s ease;
}
