<html th:replace="~{common/layout :: layout(~{::title}, ~{::section})}">

<title th:fragment="title">Página Inicial de Funcionários</title>

<th:block id="page-styles">
    <link rel="stylesheet" th:href="@{/css/funcionario_inicial.css}">
</th:block>

<section th:fragment="section">
    <div class="d-flex justify-content-between">
        <h1>Funcionários</h1>
        <a th:href="@{/adicionar_funcionario}" id="add_funcionario"
           class="pt-1 pb-1 fw-bold align-items-center d-flex gap-3 ps-3 pe-3">
            <span id="plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
</svg>
            </span>
            Novo Funcionário
        </a>
    </div>
    <hr>
    <div class="d-grid p-3" id="tabela">
        <div class="d-flex justify-content-end">
            <input type="text" placeholder="Buscar" id="input_busca" class="ps-3 pt-2 pb-2">
        </div>
    </div>
</section>
</html>